@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'ABeeZee';
    src: url('/fonts/ABeeZee-Regular.woff2') format('woff2'),
      url('/fonts/ABeeZee-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  html {
    font-family: 'ABeeZee', sans-serif;
  }

  * {
    outline: none;
  }
}

.underline-on-hover {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(currentColor, currentColor);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.underline-on-hover:hover {
  /* border-bottom: 0; */
  background-size: 100% 3px;
}
